.photoLicense {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--foreground-color);
  color: #aaa;
  font-family: var(--font-family-en);
  font-style: bold;
  font-size: .8rem;
  padding: .2rem .5rem;
  margin-right: .5rem;
}
.photoLicense svg {
  width: 20px;
  margin-right: .4rem;
  vertical-align: middle;
  fill: var(--background-color);
  opacity: .7;
}

.header {
  margin: 0;
  padding: 3rem 6rem;
}

.logo {
  display: block;
  margin: 0;
  width: 200px;
  text-align: center;
}

.logo a {
  text-decoration: none;
}

.logoText {
  display: block;
}

.logoIcon {
  display: block;
  margin-left: 1rem;
}

.footer {
  padding: 2rem 0 4rem;
  margin: 0 6rem;
  border-top: 2px solid rgba(var(--foreground-rgb), .2);
  color: rgba(var(--foreground-rgb), .5);
  font-size: .9rem;
}
.footer a {
  font-weight: bold;
}

.container {
  background-color: rgba(var(--background-rgb), .4);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  margin: 3rem;
  box-shadow: 0 0 1rem 0 rgba(var(--foreground-rgb), .2);
  overflow: hidden;
}

.snsNav {
  width: 420px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: rgba(var(--foreground-rgb), .7);
}
.snsNav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  border: 2px solid rgba(var(--foreground-rgb), .2);
  padding: .7rem 1.2rem;
  border-radius: 30px;
}
.snsNav li {
  display: block;
  text-align: center;
  font-size: .8rem;
  font-family: var(--font-family-en);
}
.snsNav svg  {
  width: 30px;
  margin-right: .2rem;
  vertical-align: middle;
  fill: var(--foreground-color);
  opacity: .3;
}

@media (prefers-color-scheme: dark) {
  .photoLicense {
    color: #333;
  }
  .snsNav ul {
    border: 2px solid rgba(var(--foreground-rgb), .4);
  }
}

/* Mobile */
@media (max-width: 810px) {
  .photoLicense {
    background-color: var(--background-color);
    top: auto;
    bottom: 0;
    font-size: .8rem;
    padding: .1rem .5rem;
    margin-right: 0;
    width: 100%;
    text-align: center;
    color: var(--foreground-color);
  }
  .photoLicense svg {
    width: 16px;
    fill: var(--foreground-color);
  }

  .container {
    margin: .7rem;
    margin-bottom: 3rem;
  }
  .header {
    padding: 4em 0 0;
  }

  .logo {
    width: 100%;
  }
  .logoText {
    font-size: 2rem;
  }
  .logoIcon {
    display: block;
    margin: 0 auto;
    width: 180px;
  }

  .snsNav {
    width: auto;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
  }
  .snsNav ul {
    padding: .3rem 0;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .snsNav li {
    display: inline;
  }
  .snsNav svg  {
    width: 20px;
  }
  .footer {
    padding: 1rem 0 1.5rem;
    margin: 0 1rem;
    font-size: .8rem;
  }
}
