.main {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 6rem 6rem;
  min-height: 100vh;
}

.blocks {
  padding: 0 0 2rem;
  max-width: 1000px;
}

/* ABOUT US */
.aboutus {
  max-width: 1000px;
}
.aboutus p {
  font-size: 1.4rem;
}

/* FACTS */
.facts {
  margin-top: 6rem;
}
.factCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.25rem;
}
.factName {
  display: block;
  margin-bottom: -1rem;
  opacity: .6;
}
.factName svg {
  fill: var(--foreground-color);
  vertical-align: middle;
  margin-right: .5rem;
  margin-bottom: .3rem;
}
.factNumber {
  font-family: var(--font-family-en);
  font-size: 5rem;
  font-weight: bold;
}
.factDesc {
  opacity: .6;
}

/* EVENTS */
.events {
  margin-top: 4rem;
  padding: 1rem 0;
  overflow: hidden;
}
.events h2 {
  padding: 2rem 0 1rem;
  font-size: 2rem;
}

/* MEMBERS */
.members {
  margin-top: 4rem;
}
.memberCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.25rem;
}
.memberCard {
  border: 2px solid;
  border-radius: 15px;
  border-color: rgba(var(--foreground-rgb), .2);
  padding: 1rem 0 .5rem;
  position: relative;
}
.memberCard:hover {
  border-color: rgba(var(--foreground-rgb), .4);
}
.cardGo {
  position: absolute;
  top: 0;
  right: 1rem;
}
.cardGo svg {
  height: 70px;
  fill: var(--foreground-color);
  opacity: .3;
}
.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  margin-left: 1rem;
}
.memberCard h3 {
  padding: .2rem 2rem .5rem;
  font-size: 1.5rem;
  text-align: right;
}
.linkIcons {
  list-style-type: none;
  border-top: 2px solid;
  border-color: rgba(var(--foreground-rgb), .2);
  padding: .7rem 2rem 0;
  text-align: right;
}
.linkIcons li {
  display: inline;
  margin-left: 1rem;
}
.icon  {
  fill: var(--foreground-color);
  opacity: .3;
}
.icon:hover  {
  opacity: .7;
}

/* CODE OF CONDUCT */
.coc {
  margin-top: 6rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 810px) {
  .main {
    padding: 0 1rem 1rem;
  }
  .aboutus {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus p {
    font-size: 1rem;
  }

  .factCards {
    text-align: center;
  }
  .factNumber {
    font-size: 4rem;
  }
  .factDesc {
    text-align: left;
    margin-top: -.5rem;
  }

  .events {
    margin-top: 2rem;
  }

  .members {
    margin-top: 0;
  }

  .coc {
    margin-top: 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
  .linkIcons svg  {
    fill: var(--foreground-color);
  }
}
